#map {
    height: 40vh; /* Default: 40% of the viewport height */
    width: 100%; /* Default: 60% of the viewport width */
    margin: 1rem auto; /* Center the map horizontally */
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #e9ecef; /* สีพื้นหลังสำหรับ fallback */
  }

/* Responsive Design */
@media (max-width: 768px) {
    #map {
        height: 30vh; /* Default: 40% of the viewport height */
    }
  }

  .whitebg {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin: auto auto;  */
    max-width: 2160x; /* กำหนดความกว้างสูงสุด */
    padding-bottom: 15px;
    width: 98vw; /* กำหนดความกว้างเริ่มต้น */
  }

  .d-flex.align-items-center {
    margin-bottom: 10px; /* ลดระยะห่างด้านล่าง */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .whitebg {
      max-width: 95%; /* ลดความกว้างสูงสุดสำหรับหน้าจอเล็ก */
      width: 100%; /* ใช้ความกว้างเต็มจอ */
      padding: 1rem; /* เพิ่ม padding ให้เหมาะสม */
    }
  }
  
 /* การจัดการ Flexbox สำหรับช่องค้นหาและปุ่ม */
.container-fluid .d-flex {
    justify-content: space-between; /* จัดวางให้มีพื้นที่ว่างตรงกลาง */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
  }
  
  #searchOrg  {
    width: 40%; /* กำหนดความกว้างของช่องค้นหา */
    background: #e6e6e6; /* สีพื้นหลังของช่องค้นหา */
    /* border: none; ลบเส้นขอบ */
    /* padding: 0; ลบ padding */
    /* outline: none; ลบเส้นขอบเมื่อคลิก */
  }
  
  #dateRange {
    width: 100%; /* กำหนดความกว้างของช่องค้นหา */
    background: #e6e6e6; /* สีพื้นหลังของช่องค้นหา */
  }

  /* Calendar */
  #dateRangeButton {
    width: 60%; /* กำหนดความกว้างเต็ม */
    background: #e6e6e6; /* สีพื้นหลัง */
    border: 1px solid #ccc; /* เส้นขอบ */
    border-radius: 5px; /* มุมโค้ง */
    padding: 8px 12px; /* ระยะห่างภายใน */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px; /* เพิ่มระยะห่างด้านขวา */;  
    gap: 8px; /* ระยะห่างระหว่างไอคอนกับข้อความ */
  }
  #dropdownMenuButtonSearch {
    width: 60%; /* กำหนดความกว้างของช่องค้นหา */
    margin-right: 5px; /* เพิ่มระยะห่างด้านขวา */;
    /* background: #e6e6e6; สีพื้นหลังของช่องค้นหา */
  }

  @media (max-width: 576px) {
    .date-range-text {
      display: none; /* ซ่อนข้อความ */
    }
    #dropdownMenuButtonSearch {
      width: 50%; /* กำหนดความกว้างของช่องค้นหา */
      margin-right: 5px; /* เพิ่มระยะห่างด้านขวา */;
      /* background: #e6e6e6; สีพื้นหลังของช่องค้นหา */
    }

  }


  button[data-bs-toggle="modal"] {
    width: auto; /* ปุ่มมีขนาดตามเนื้อหา */
  }